//colors
$primary-bg-color: #e7ecea;
$primary-font-color: #74777b;
$nav-bg-color: #fff;
$content-bg-color: #fff;
$main-color: #1198c6;
$light-grey: #e7ecea;
$link-color: $main-color;

//fonts
$base-font-size: 1em;
$header-size: 3.5em;
$light-font-weight: 300;
$base-font-weight: 400;
$bold-font-weight: 700;

$tab-nav-font-size: 1.25em;

//dimensions
$content-width: 1200px;
$gutter-xs: 5px;
$gutter-s: 2 * $gutter-xs; //10px
$gutter-m: 15px;
$gutter-l: 2 * $gutter-m; //30px
$gutter-xl: 2 * $gutter-l; //60px


//breakpoints
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-sm-min: $screen-sm + 1;
$screen-md-min: $screen-md + 1;
$screen-lg-min: $screen-lg + 1;

$screen-xs-max: $screen-sm -1;
$screen-sm-max: $screen-md -1;
$screen-md-max: $screen-lg -1;

