<div class="json-data" ng-init="init()">
	<ng-include src=" 'views/partials/preloader.html'" ng-show="isLoading"></ng-include>
	<ul ng-show="!isLoading && error == false && dataSize > 0">
		<li ng-repeat="item in data " class="grid grid-padding">
			<section>
				<div class="grid no-gutter">
					<h3 class="col-sm-9 col-xs-12"><a ng-href="{{item.link}}" target="_blank">{{item.title}} <span
							ng-if="item.category.length > 0">- {{item.category}}</span></a></h3>
					<span class="date col-sm-3 col-xs-12">{{item.date}}, {{item.time}}</span>
				</div>
				<p>{{item.description}}</p>
			</section>
		</li>
	</ul>
	<ng-include src=" 'views/partials/error.html'"></ng-include>
</div>
