<div class="rss-data" ng-init="init()">
	<ng-include src=" 'views/partials/preloader.html'" ng-show="isLoading"></ng-include>
	<ul ng-show="!isLoading && error == false && dataSize > 0">
		<div class="grid grid-gutter text-center">
			<a href="#" ng-click="init()" class="btn btn-primary">Refresh</a>
		</div>
		<li ng-repeat="item in data | orderBy : '-pubDate'" class="grid grid-padding">
			<section>
				<div class="grid no-gutter">
					<h3 class="col-sm-9 col-xs-12"><a ng-href="{{item.link}}" target="_blank">{{item.title}}</a></h3>
					<span class="date col-sm-3 col-xs-12">{{item.pubDate | date:'dd-MM-yyyy, HH:mm' }}</span>
				</div>
			</section>
		</li>
	</ul>
	<ng-include src=" 'views/partials/error.html'"></ng-include>
</div>
